VITE_APP_ENV="development"
VITE_APP_NAME="Pancaka - CRM"
VITE_APP_SHORT_NAME="Pancaka - Customer Relationship Management Web Application"
VITE_APP_THEME_COLOR="#5b7ecd"
VITE_APP_API_HOST="http://149.129.239.235:81"
VITE_APP_API_ADDRESS="http://149.129.239.235:81/api"
VITE_APP_USE_MOCK=false
