VITE_APP_ENV="development"
VITE_APP_NAME="Pancaka - CRM"
VITE_APP_SHORT_NAME="Pancaka - Customer Relationship Management Web Application"
VITE_APP_THEME_COLOR="#5b7ecd"
VITE_APP_API_HOST="localhost"
VITE_APP_API_ADDRESS="http://localhost:3000"
VITE_APP_USE_MOCK=false
